@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300;400;700&display=swap');
@import 'variables';
@import 'scrollbar';
@import 'main_page';
@import 'header';
@import 'about_me';
@import 'animations';
@import 'media';

 
 
* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

body{
    font-family: 'Oswald',sans-serif;

}



html,body{
    overflow-x: hidden;
}

#fp-nav ul li a span, 
.fp-slidesNav ul li a span {
    background: $azul_principal !important;
}

.section{
    height: 100vh;
}


